<div class="main_container">
    <div class="buttons_tab">
        <a href="/adminDashboard" class="links">Home</a>
        <a href="/thought" class="links">Thought</a>
        <a href="/notification" class="links">Notice</a>
        <a href="/applicationList" class="links">Applications</a>
        <a href="/studentList" class="links">Students List</a>
        <a href="/addAdmin" class="links">Add Admin</a>
        <a href="/" class="links">LogOut</a>  
    </div>
</div>