<div class="main_container">
    <div class="buttons_tab">
        <a href="/dashboard" class="links">Home</a>
        <a href="/profile" class="links">Profile</a>
        <a href="/attendance" class="links">Attendance</a>
        <a href="/application" class="links">Application</a>
        <a href="/changepassword" class="links">Change Password</a>
        <a href="/logout" class="links">LogOut</a>  
    </div>
</div>