<div class="bg-danger User_header">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">

            <div class="col-2 d-flex justify-content-center">
                <img src="/Img/logo.png" height="200" alt="logo">
            </div>

            <div class="col-10 d-flex justify-content-center">
                <div class="school-text-wrapper text-center">
                    <h1 class="school-text">Endeavour School</h1>
                    <span class="school-since">Since:1905</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nav_bar_css">
    <nav class="nav_items">
    <a href="/" class="nav_links">Home</a>
    <a href="/about" class="nav_links">About Us</a>
    <a href="/academic" class="nav_links">Academics</a>
    <a href="/admission" class="nav_links">Admission</a>
    <a href="/contact_us" class="nav_links">Contact US</a>
    <a href="/Login" class="nav_links">Log In</a>
    </nav>
</div>
