<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="/data2/images/blog20studentengagementstrategiescaptivatingclassroom.png"
                    alt="Well-planned academic syllabus" title="Well-planned academic syllabus" id="wows1_0" /></li>
            <li><a href="http://wowslider.net"><img src="/data2/images/ednextjune18blogarnettspecializationteacher.jpg"
                        alt="javascript slider" title="Personal guidance and doubt-clearing sessions"
                        id="wows1_1" /></a></li>
            <li><img src="/data2/images/improving_teaching_styles.png" alt="Encouraging curiosity and questioning"
                    title="Encouraging curiosity and questioning" id="wows1_2" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="#" title="Well-planned academic syllabus"><span><img
                        src="/data2/tooltips/blog20studentengagementstrategiescaptivatingclassroom.png"
                        alt="Well-planned academic syllabus" />1</span></a>
            <a href="#" title="Personal guidance and doubt-clearing sessions"><span><img
                        src="/data2/tooltips/ednextjune18blogarnettspecializationteacher.jpg"
                        alt="Personal guidance and doubt-clearing sessions" />2</span></a>
            <a href="#" title="Encouraging curiosity and questioning"><span><img
                        src="/data2/tooltips/improving_teaching_styles.png"
                        alt="Encouraging curiosity and questioning" />3</span></a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/engine2/wowslider.js"></script>
<script type="text/javascript" src="/engine2/script.js"></script>
<!-- End WOWSlider.com BODY section -->