<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="/data1/images/building.jpg" alt="A Campus Where Dreams Take Shape"
                    title="A Campus Where Dreams Take Shape" id="wows1_0" /></li>
            <li><img src="/data1/images/teacher.jpg" alt="Mentors Who Inspire Excellence"
                    title="Mentors Who Inspire Excellence" id="wows1_1" /></li>
            <li><img src="/data1/images/lab.jpg" alt="Learning Beyond the Classroom"
                    title="Learning Beyond the Classroom" id="wows1_2" /></li>
            <li><img src="/data1/images/librarry.jpg" alt="css image slider" title="A World of Knowledge Awaits"
                    id="wows1_3" /></a></li>
            <li><img src="/data1/images/friends.jpg" alt="Growing Together, Learning Together"
                    title="Growing Together, Learning Together" id="wows1_4" /></li>
        </ul>
    </div>
    <div class="ws_bullets">
        <div>
            <a href="/" title="A Campus Where Dreams Take Shape"><span><img src="/data1/tooltips/building.jpg"
                        alt="A Campus Where Dreams Take Shape" />1</span></a>
            <a href="/" title="Mentors Who Inspire Excellence"><span><img src="/data1/tooltips/teacher.jpg"
                        alt="Mentors Who Inspire Excellence" />2</span></a>
            <a href="/" title="Learning Beyond the Classroom"><span><img src="/data1/tooltips/lab.jpg"
                        alt="Learning Beyond the Classroom" />3</span></a>
            <a href="/" title="A World of Knowledge Awaits"><span><img src="/data1/tooltips/librarry.jpg"
                        alt="A World of Knowledge Awaits" />4</span></a>
            <a href="/" title="Growing Together, Learning Together"><span><img src="/data1/tooltips/friends.jpg"
                        alt="Growing Together, Learning Together" />5</span></a>
        </div>
    <!-- </div>
    <div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript slideshow</a>
        by WOWSlider.com v9.0</div>
    <div class="ws_shadow"></div> -->
</div>
<script type="text/javascript" src="/engine1/wowslider.js"></script>
<script type="text/javascript" src="/engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->