<div class="footer_tab bg-danger mt-5">
  <div class="row">

    <div class="col-sm-3 col-lg-3 footer_ql_tab">
      <h2 class="ql_title">Quich Links</h2>
      <div class="qls_tab">
        <ul class="links_list">
          <li><a href="/" class="footer_links">Home</a></li>
          <li><a href="/about" class="footer_links">About Us</a></li>
          <li><a href="/academic" class="footer_links">Academics</a></li>
          <li><a href="/admission" class="footer_links">Admission</a></li>
          <li><a href="/contact_us" class="footer_links">Contact Us</a></li>
          <li><a href="/Login" class="footer_links">Log In</a></li>
        </ul>
      </div>
    </div>

    <div class="col-sm-6 col-sm-6 d-flex justify-content-center mt-5">
      <div class="map_tab">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d109782.87829261528!2d76.61497891320774!3d30.698295388807644!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390fee906da6f81f%3A0x512998f16ce508d8!2sSahibzada%20Ajit%20Singh%20Nagar%2C%20Punjab!5e0!3m2!1sen!2sin!4v1766236766146!5m2!1sen!2sin"
          width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="col-sm-3 col-lg-3 d-flex justify-content-center mt-2">
      <div class="contact_tab">
        <h2 style="font-family: fantasy;font-size: 35px;color: wheat;justify-self: center;">Contact At:</h2>
        <ul class="contact_list">
          <li><i class="bi bi-telephone contact_list_elements"> +91 0123456789</i></li>
          <li><i class="bi bi-telephone contact_list_elements"> +91 0123456789</i></li>
          <li><i class="bi bi-envelope contact_list_elements"> abc@example.com</i></li>
          <li><i class="bi bi-envelope contact_list_elements"> xyz@example.com</i></li>
        </ul>


      </div>
    </div>



  </div>
</div>